body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff9c4;
}

.header {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    margin-left: 20px; 
    width: 100%;
    box-sizing: border-box;
}

.header img {
    height: auto;
    width: 300px;
    border-radius: 50%;
}

.back {
    position: absolute;
    left: 0;
    margin-left: 20px; 
    width: 100%;
    box-sizing: border-box;
}

.back img {
    height: auto;
    width: 100px;
}

.quiz-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.question-card {
    display: none;
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-card.active {
    display: block;
}

.question-card label {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.question-card label:hover {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

.question-card input {
    margin-right: 10px;
}

.result-box {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;
    display: none;
}
.about-us-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto; 
}

.about-us-footer h2 {
    margin-bottom: 10px;
}

.about-us-footer p {
    font-size: 14px;
}

.about-us-footer table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse; 
}

.about-us-footer td {
    padding: 8px;
    text-align: left;
}

.about-us-footer a {
    color: #fff;
    text-decoration: none;
}
